@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SoCoSo</h1>
    <p class="lead">Welcome Back Surybai</p>
    <p><a href="~/Home/Profile" class="btn btn-primary btn-lg">Your profile &raquo;</a></p>
</div>

<div class="row" style="float: left; width: 25%;">
    <div class="column"><a href="~/Home/Item1"> <img class="thumbnail" src="~/Misc/white.jpg" /></a></div>
    <div class="column"><img class="thumbnail" src="~/Misc/1439322586747-P-2944653.jpg" /></div>
    <div class="col"><img class="thumbnail" src="~/Misc/gset1.png" /></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
  
</div>

<div class="row" style="float: left; width: 25%;">
    <div class="column"><img class="thumbnail" src="~/Misc/red-patent-leather-pump-high-heel.jpg" /></div>
    <div class="column"><img class="thumbnail" src="~/Misc/m3.png" /></div>
    <div class="col"><img class="thumbnail"  src="~/Misc/set1.png" /></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>

</div>
<div class="row" style="float: left; width: 25%;">
    <div class="column"><img class="thumbnail" src="~/Misc/Converse-Shoes.jpg" /></div>
    <div class="column"><img class="thumbnail" src="~/Misc/gset2.png" /></div>
    <div class="col"><img class="thumbnail" src="~/Misc/gset3.png" /></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>

</div>
<div class="row" style="float: left; width: 25%;">
    <div class="column"><img class="thumbnail"  src="~/Misc/m1.png" /></div>
    <div class="column"><img class="thumbnail"  src="~/Misc/m4.png" /></div>
    <div class="col"><img class="thumbnail" src="~/Misc/277087_main.jfif"/></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>

</div>
<span>
    <img src="~/Misc/loopy divider.png" align="middle" />
</span>

<!--<ul class="layout_grid grid_4 ">
    <li>
        <div class="grid_item"><img class="thumbnail" src="http://placehold.it/250x250"></div>
        <div class="grid_item"><img class="thumbnail" src="http://placehold.it/250x250"></div>
        <div class="grid_item"><img class="thumbnail" src="http://placehold.it/250x250"></div>
        <div class="grid_item"><img class="thumbnail" src="http://placehold.it/250x250"></div>
        <div class="grid_item"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    </li>
    

</ul> -->