
@{
    ViewBag.Title = "Item1";
}
@Styles.Render("~/Content/StyleSheet1.css")

<h1>Brunswick Shirt</h1>
<a target="_blank" href="http://cottonon.com/NZ/p/cotton-on-men/brunswick-shirt/2034119094931.html?region=NZ#region=NZ&q=shirt+white&start=1"><h6>By Cotton On</h6></a>

<div class="wrap">
    <div class="row">
        <div id="shirtimg">
            <img src="~/Misc/white.jpg" align="left"/>
            <div class="row">
                <div class="col-lg-offset-4"><h6>Men's Fashion> Shirts> Formal>CottonOn</h6></div>
                <div class="col-lg-offset-4"><h2>White shirt</h2></div>
                <div class="col-lg-offset-4"><h5>1532 Likes  In 1413 sets</h5></div>
                <div class="col-lg-offset-4 container">Our classic fit shirt re-defined using an elevated cotton fabrication and vintage wash. Luxury trim details, including metal buttons, new pocket shapes, and chambray lining...  </div>
                <p><a class="btn btn-default " align ="left">Share it &raquo;</a><a class="btn btn-default" align="middle">Like it! &raquo;</a><a href="~/Home/Search" class="btn btn-default" align="right">Match it! &raquo;</a></p>
            
            </div>
        </div>
    </div>
   
</div>
   <span>
    <img src="~/Misc/loopy divider.png" align="middle" />
</span>
<br>
<h3>Similar items:</h3>

<div class="row" style="float: left; width: 33%;">
    <div class="thump divbutton  " onmouseover="$(this).find('#b1').show(); $(this).find('#b2').show();"
         onmouseout="$(this).find('#b1').hide(); $(this).find('#b2').hide();">

        <cus1><span>1234 likes</span><br /><span>In 132 sets</span></cus1>

        <img width="250" class="thumbnail" src="~/Misc/m2.jpg" height="250">

        <img id="b1" class="butt1" src="~/Misc/up-button.png" />
        <img id="b2" class="butt2" src="~/Misc/downButton.png" />
    </div>
    </div>
<div class="row" style="float: left; width: 33%;">
    <div class="thump divbutton  " onmouseover="$(this).find('#b1').show(); $(this).find('#b2').show();"
         onmouseout="$(this).find('#b1').hide(); $(this).find('#b2').hide();">

        <cus1><span>1234 likes</span><br /><span>In 132 sets</span></cus1>

        <img width="250" class="thumbnail" src="~/Misc/dbe739eab4896cfad30e5fe5d40e7c20.jpg" height="250">

        <img id="b1" class="butt1" src="~/Misc/up-button.png" />
        <img id="b2" class="butt2" src="~/Misc/downButton.png" />
    </div>
</div>
<div class="row" style="float: left; width: 33%;">
    <div class="thump divbutton  " onmouseover="$(this).find('#b1').show(); $(this).find('#b2').show();"
         onmouseout="$(this).find('#b1').hide(); $(this).find('#b2').hide();">

        <cus1><span>1234 likes</span><br /><span>In 132 sets</span></cus1>

        <img width="250" class="thumbnail" src="~/Misc/I-Know-White-Cotton-Shirt-SDL445217582-1-e1242.jpg" height="250">

        <img id="b1" class="butt1" src="~/Misc/up-button.png" />
        <img id="b2" class="butt2" src="~/Misc/downButton.png" />
    </div>
</div>
<br/>
<!--
    <div class="row" style="float: left; width: 25%;">
        <div class="column"><a href="~/Home/Item1"> <img class="thumbnail" src="~/Misc/m2.jpg" /></a></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
        <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    </div>
    <div class="row" style="float: left; width: 25%;">
        <div class="column"><a href="~/Home/Item1"> <img class="thumbnail" src="~/Misc/dbe739eab4896cfad30e5fe5d40e7c20.jpg" /></a></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
        <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    </div>
    <div class="row" style="float: left; width: 25%;">
        <div class="column"><a href="~/Home/Item1"> <img class="thumbnail" src="~/Misc/I-Know-White-Cotton-Shirt-SDL445217582-1-e1242.jpg" /></a></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
        <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    </div>
    <div class="row" style="float: left; width: 25%;">
        <div class="column"><a href="~/Home/Item1"> <img class="thumbnail" src="~/Misc/fbs10712_white.jpg" /></a></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
        <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    </div>
    -->