
@{
    ViewBag.Title = "Match2";
}

<h2>Match2</h2>
<h4>Current Matching:</h4>

<div class="row" style="overflow-wrap"><img class="thumbnail" src="~/Misc/white.jpg" /></div>
<div class="row" style="overflow-wrap "> <img class="thumbnail" src="~/Misc/81S2VOjVfUL._UL1500_.jpg" style="width: 20%; height: 15%"/></div>
<div class="row" style="float: right"> <img class="thumbnail"  src="~/Misc/roundtick.jpg" style="width: 20%; height: 20%"/></div>
<br />
<form>Search for:<br><input type="text" /><input type="submit" value="Submit"></form>
<br>
<span>
    <img src="~/Misc/loopy divider.png" align="middle" />
</span>
<br>
<div class="row" style="float: left; width: 25%;">
    <div class="column"><a href="~/Home/Item1"> <img class="thumbnail" src="~/Misc/81S2VOjVfUL._UL1500_.jpg" /></a></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>

</div>

<div class="row" style="float: left; width: 25%;">
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>

</div>
<div class="row" style="float: left; width: 25%;">
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>

</div>
<div class="row" style="float: left; width: 25%;">
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>

</div>

