
@{
    ViewBag.Title = "Posts";
}
<div class="timeline" align="center">
    <h2>Posts</h2>

    <br />
    <span align="center">
        <img src="~/Misc/loopy divider.png" align="middle" />
    </span>
    <br />
    <!--
    <div class="row" style="float: left; width: 25%;">
        <div class="column"><a href="~/Home/Item1"> <img class="thumbnail" src="~/Misc/white.jpg" /></a></div>
        <div class=" column">1532 likes in 1352 sets</div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
        <div class=" column">1532 likes in 1352 sets</div>
        <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
        <div class=" column">1532 likes in 1352 sets</div>
    </div>
    <div class="row" style="float: initial; width: 25%;">
        <div class="column"><a href="~/Home/Item1"> <img class="thumbnail" src="~/Misc/white.jpg" /></a></div>
        <div class=" column">1532 likes in 1352 sets</div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
        <div class=" column">1532 likes in 1352 sets</div>
        <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
        <div class=" column">1532 likes in 1352 sets</div>
    </div>
    <div class="row" style="float: right; width: 25%;">
        <div class="column"><a href="~/Home/Item1"> <img class="thumbnail" src="~/Misc/white.jpg" /></a></div>
        <div class=" column">1532 likes in 1352 sets</div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
        <div class=" column">1532 likes in 1352 sets</div>
        <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
        <div class=" column">1532 likes in 1352 sets</div>
    </div>
    
    <br />
    <span>
        <img src="~/Misc/loopy divider.png" align="middle" />
    </span>
    -->
    <br />
    <div class="container" align="center">
        <div class="row" style="float: left; width: 25%;">
            <div class="column"><a href="~/Home/Item1"> <img class="thumbnail wrap" src="~/Misc/white.jpg" /></a></div>
            <div class=" column">1532 likes in 1352 sets</div>
            <div class="column"><a href="~/Home/Profile"><img class="thumbnail wrap" src="~/Misc/combo1.png" /></a></div>
            <div class=" column">134 likes By SuryBai</div>
            <div class="col"><img class="thumbnail wrap" src="~/Misc/Converse-Shoes.jpg" /></div>
            <div class=" column">5432 likes in 4444 sets</div>
        </div>
        <div class="row" style="float: left; width: 25%;">
            <div class="column"><a href="~/Home/Item1"> <img class="thumbnail wrap" src="~/Misc/gset1.png" /></a></div>
            <div class=" column">432 likes By Dallas885</div>
            <div class="column"><img class="thumbnail wrap" src="~/Misc/john-varvatos-mens-eg-triple-buckle-boot.jpg" /></div>
            <div class=" column">62 likes in 152 sets</div>
            <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
            <div class=" column">1532 likes in 1352 sets</div>
        </div>
        <div class="row" style="float: left; width: 25%;">
            <div class="column"><a href="~/Home/Item1"> <img class="thumbnail"  src="~/Misc/RayBanAviator.jpg" /></a></div>
            <div class=" column">782 likes in 1492 sets</div>
            <div class="column"><img class="thumbnail"  src="~/Misc/red-patent-leather-pump-high-heel.jpg" /></div>
            <div class=" column">2016 likes in 1367 sets</div>
            <div class="col"><img class="thumbnail" src="~/Misc/5Y3PL2VB.jpg" /></div>
            <div class=" column">232 likes in 552 sets</div>
        </div>
        <div class="row" style="float: left; width: 25%;">
            <div class="column"><a href="~/Home/Item1"> <img class="thumbnail"  src="~/Misc/m3.png" /></a></div>
            <div class=" column">2434 likes By AllBuyMyself</div>
            <div class="column"><img class="thumbnail" src="~/Misc/gset2.png" /></div>
            <div class=" column">1532 likes By GeeBees</div>
            <div class="col"><img class="thumbnail" src="~/Misc/I-Know-White-Cotton-Shirt-SDL445217582-1-e1242.jpg" /></div>
            <div class=" column">732 likes in 142 sets</div>
        </div>
    </div>
</div>
