
@{
    ViewBag.Title = "Profile";
}
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<h2>Profile</h2>

<div class="wrap">
    <div class="row">
        <div id="shirtimg">
            
            <img src="~/Misc/Latest-Fashionable-Collection-Young-Girls-Sun-Glasses-7.jpg" style="width: 25%; height: 25%" align ="left"/>
            <div class="row">
                <div class="col-lg-offset-4">Baibai</div>
                <div class="col-lg-offset-4"><h6>joined 3 weeks ago</h6></div>
                <div class="col-lg-offset-4"><h6>40 Points | 2 Posts | 3 favourites</h6></div>

                <p><a class="btn btn-default col-lg-offset-4" assign="left">edit profile &raquo;</a></p>

            </div>
        </div>
    </div>
  
</div>
<br>
<span>
    <img src="~/Misc/loopy divider.png" align="middle" />
</span>
<br>
<div class="container">
    <div><h1>My Posts</h1></div>
    <div class="row thump" style="float: left; width: 25%;">
        <div class="column">
            <cus1><span>1253 likes</span>
        <br/>
            <span>posted on 13 Feb 2016</span></cus1>
        <a href="~/Home/SetPage"> <img class="thumbnail" src="~/Misc/combo1.png" /></a></div>
        <div class="column">
<div><h5></h5></div>
</div>
        
    </div>
    <div class="row thump" style="float: left; width: 25%;">
        <div class="column"><a href="~/Home/SetPage"><img class="thumbnail" src="~/Misc/gset2.png" /></a></div>
        <div class="column">
            <div><h6>1253 likes </h6></div>
            <div><h5>posted on 13 Feb 2016</h5></div>
        </div>
    </div>
        </div>
<br>
    
<span>
    <img src="~/Misc/loopy divider.png" align="middle" />
</span>
<br>
<div class=" container">
    <div><h1>My Faves</h1></div>
    <div class="row" style="float: left; width: 25%;">
        <div class="column"><a href="~/Home/Item1"> <img class="thumbnail" src="~/Misc/white.jpg" /></a></div>
        <div class="column"><img class="thumbnail" src="~/Misc/gset3.png" />></div>
        <div class="col"><img class="thumbnail" src="~/Misc/m4.png" /></div>
    </div>
   
</div>
<span>
    <img src="~/Misc/loopy divider.png" align="middle" />
</span>
<br>