
@{
    ViewBag.Title = "Profile";
}
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<h2>Profile</h2>

<div class="wrap">
    <div class="row">
        <div id="shirtimg">
            
            <img src="~/Misc/Latest-Fashionable-Collection-Young-Girls-Sun-Glasses-7.jpg" style="width: 25%; height: 25%" align ="left"/>
            <div class="row">
                <div class="col-lg-offset-4"> MissShan </div>
                <div class="col-lg-offset-4"><h6>joined 3 weeks ago</h6></div>
                <div class="col-lg-offset-4"><h6>40 Points | 2 Posts | 3 favourites</h6></div>

                <p><a class="btn btn-default col-lg-offset-4" assign="left">edit profile &raquo;</a></p>

            </div>
        </div>
    </div>
  
</div>
<br>
<span>
    <img src="~/Misc/loopy divider.png" align="middle" />
</span>
<br>
<div class="container">
    <div><h1>My Posts</h1></div>

    <div class="row thump" style="float: left; width: 25%;">
        <div onmouseout="$(this).find('#b11').hide(); $(this).find('#b22').hide();"
             onmouseover="$(this).find('#b11').show(); $(this).find('#b22').show();" class="column thump divbutton">


            <cus1> <span id="b11" style="display: none;">1253 likes</span><br /><span id="b22" style="display: none;">posted on 13 feb 2016</span></cus1>
            <a href="~/Home/SetPage"> <img class="thumbnail" src="~/Misc/combo1.png" /></a>


        </div>


        <div class="column">
            <div><h5></h5></div>
        </div>

    </div>

    <div class="row thump" style="float: left; width: 25%;">
        <div onmouseout="$(this).find('#b11').hide(); $(this).find('#b22').hide();"
             onmouseover="$(this).find('#b11').show(); $(this).find('#b22').show();" class="column thump divbutton">


            <cus1> <span id="b11" style="display: none;">1253 likes</span><br /><span id="b22" style="display: none;">posted on 13 feb 2016</span></cus1>

            <a href="~/Home/SetPage"><img class="thumbnail" src="~/Misc/1439322586747-P-2944653.jpg" /></a>
        </div>


    </div>
</div>






<br>

<span>
    <img src="~/Misc/loopy divider.png" align="middle" />
</span>
<br>
<div class=" container">
    <div><h1>My Faves</h1></div>
    <div class="row" style="float: left; width: 25%;">
        <div onmouseout="$(this).find('#b11').hide(); $(this).find('#b22').hide();"
             onmouseover="$(this).find('#b11').show(); $(this).find('#b22').show();" class="column thump divbutton">


            <cus1> <span id="b11" style="display: none;">1253 likes</span><br /><span id="b22" style="display: none;">posted on 13 feb 2016</span></cus1>


            <a href="~/Home/Item1">
                <img class="thumbnail" src="~/Misc/white.jpg" />
            </a>
        </div>











        <div onmouseout="$(this).find('#b11').hide(); $(this).find('#b22').hide();"
             onmouseover="$(this).find('#b11').show(); $(this).find('#b22').show();" class="column thump divbutton">


            <cus1> <span id="b11" style="display: none;">1253 likes</span><br /><span id="b22" style="display: none;">posted on 13 feb 2016</span></cus1>
            <img class="thumbnail" src="~/Misc/gset3.png" />>
        </div>









        <div onmouseout="$(this).find('#b11').hide(); $(this).find('#b22').hide();"
             onmouseover="$(this).find('#b11').show(); $(this).find('#b22').show();" class="column thump divbutton">


            <cus1> <span id="b11" style="display: none;">1253 likes</span><br /><span id="b22" style="display: none;">posted on 13 feb 2016</span></cus1>
            <img class="thumbnail" src="~/Misc/m4.png" />
        </div>
    </div>

</div>
<span>
    <img src="~/Misc/loopy divider.png" align="middle" />
</span>
<br>