
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div><img class="thumbnail" src="~/Misc/white.jpg" /></div>
<form>Search for:<br><input type="text" /><input type="submit" value="Submit"></form>
<br>
<span>
    <img src="~/Misc/loopy divider.png" align="middle" />
</span>
<br>
<div class="row" style="float: left; width: 25%;">
    <div class="column"><a href="~/Home/Match2"> <img class="thumbnail"  src="~/Misc/81S2VOjVfUL._UL1500_.jpg" /></a></div>
    <div class="column"><img class="thumbnail"  src="~/Misc/Converse-Shoes.jpg" /></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>

</div>

<div class="row" style="float: left; width: 25%;">
    <div class="column"><img class="thumbnail" src="~/Misc/RayBanAviator.jpg" /></div>
    <div class="column"><img class="thumbnail" src="~/Misc/277087_main.jfif"/></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>

</div>
<div class="row" style="float: left; width: 25%;">
    <div class="column"><img class="thumbnail" src="~/Misc/john-varvatos-mens-eg-triple-buckle-boot.jpg" /></div>
    <div class="column"><img class="thumbnail" src="~/Misc/Flying-Machine-Blue-Slim-Fit-Jeans-28Michael29-6233-082105-1-product2.jpg" /></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>

</div>
<div class="row" style="float: left; width: 25%;">
    <div class="column"><img class="thumbnail"  src="~/Misc/5Y3PL2VB.jpg" /></div>
    <div class="column"><img class="thumbnail" src="~/Misc/MW40_859Z_CALVIN_KLEIN_ACCESSORIES_BLACK_MAIN.jfif"/></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="col"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>
    <div class="column"><img class="thumbnail" src="http://placehold.it/250x250"></div>

</div> 

