@{
    ViewBag.Title = "SetPage";
}

@Styles.Render("~/Content/StyleSheet1.css")

<h1>My set1</h1>
<a  href="~/Views/Home/Profile.cshtml"><h6>By SuryBai</h6></a>

<div class="">
    <div class="row">
        
            <img style="float: left;" src="~/Misc/combo1.png"  height="250" width="250"/>
        
        <div style:"clear: left;" class="row">
            <div class="col-lg-offset-4"><h6>Men's Sets</h6></div>
           
            <div class="col-lg-offset-4"><h2>1532 Likes </h2></div>
            <div class="col-lg-offset-4"><h3>Posted on 13 Feb 2016 </h3></div>
            </div>
            
            <div>Tags:</div>
        <button class="btn">Office Work</button><button class="btn">Homewear</button><button class="btn">After First Date</button>
     
    </div>


</div>
<br/>
<span >
    <img src="~/Misc/loopy divider.png" align="middle" />
</span>
<br>
<h3>Set items:</h3>

<div class="row" style="float: left; width: 33%;">
    <div class="thump divbutton  " onmouseover="$(this).find('#b1').show(); $(this).find('#b2').show();"
         onmouseout="$(this).find('#b1').hide(); $(this).find('#b2').hide();">

        <cus1><span>1234 likes</span><br /><span>In 132 sets</span></cus1>

        <img width="250" class="thumbnail" src="~/Misc/m2.jpg" height="250">

        <img id="b1" class="butt1" src="~/Misc/up-button.png" />
        <img id="b2" class="butt2" src="~/Misc/downButton.png" />
    </div>
</div>
<div class="row" style="float: left; width: 33%;">
    <div class="thump divbutton  " onmouseover="$(this).find('#b1').show(); $(this).find('#b2').show();"
         onmouseout="$(this).find('#b1').hide(); $(this).find('#b2').hide();">

        <cus1><span>1234 likes</span><br /><span>In 132 sets</span></cus1>

        <img width="250" class="thumbnail" src="~/Misc/dbe739eab4896cfad30e5fe5d40e7c20.jpg" height="250">

        <img id="b1" class="butt1" src="~/Misc/up-button.png" />
        <img id="b2" class="butt2" src="~/Misc/downButton.png" />
    </div>
</div>
<div class="row" style="float: left; width: 33%;">
    <div class="thump divbutton  " onmouseover="$(this).find('#b1').show(); $(this).find('#b2').show();"
         onmouseout="$(this).find('#b1').hide(); $(this).find('#b2').hide();">

        <cus1><span>1234 likes</span><br /><span>In 132 sets</span></cus1>

        <img width="250" class="thumbnail" src="~/Misc/I-Know-White-Cotton-Shirt-SDL445217582-1-e1242.jpg" height="250">

        <img id="b1" class="butt1" src="~/Misc/up-button.png" />
        <img id="b2" class="butt2" src="~/Misc/downButton.png" />
    </div>
</div>
<br />
<span/>
<!-- begin wwww.htmlcommentbox.com -->
<div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div>
<link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
<script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10&ts=1458117981635");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->