@{
   
}


<h1>Upload</h1>

<div class="wrap">
    <div class="row">
        <div id="shirtimg">
            <img style="float:left" src="~/Misc/1439322586747-P-2944653.jpg" align="left" />
            <div class="row">
                <div class=""><form><input type="text" class="search rounded putImage" placeholder="Title here" size=2000></form>   </div>
               
              
                <p><a class="btn btn-default " align="left" href="~/Home/Profile">Post &raquo;</a> </p>

            </div>
        </div>
    </div>
    <div class="row"><h2>Tags</h2>
<div id="ScrollCB" style="height:150;width:200px; float:left;overflow:auto">
    <input type="checkbox" id="scb1" name="scb1" value="1">Casual<br>
    <input type="checkbox" id="scb2" name="scb2" value="2">Formal-Casual<br>
    <input type="checkbox" id="scb3" name="scb3" value="3">Formal<br>
    <input type="checkbox" id="scb4" name="scb4" value="4">Black tie<br>
    <input type="checkbox" id="scb5" name="scb5" value="5">First Date<br>
    <input type="checkbox" id="scb6" name="scb6" value="6">Long Term Relationship<br>
    <input type="checkbox" id="scb7" name="scb7" value="7">Home Clothes<br>
    <input type="checkbox" id="scb8" name="scb8" value="8">Bedroom Business<br>
    <input type="checkbox" id="scb9" name="scb9" value="9">Work Clothes<br>
    <input type="checkbox" id="scb10" name="scb10" value="10">Interview Clothes<br>
    <input type="checkbox" id="scb11" name="scb11" value="11">Wedding Guest<br>
    <input type="checkbox" id="scb12" name="scb12" value="12">Weird<br>
    <input type="checkbox" id="scb13" name="scb13" value="13">Costume<br>
    <input type="checkbox" id="scb14" name="scb14" value="14">Gangsta<br>
    <input type="checkbox" id="scb15" name="scb15" value="15">Party<br>
    <input type="checkbox" id="scb16" name="scb16" value="16">Club<br>
</div></div>
</div>
<br/>
