@{
    ViewBag.Title ="Upload1";
}

<h1>Upload</h1>

<div class="wrap">
<div class="row">
    <div id="shirtimg">
        <img src="http://placehold.it/250x250" align="left" />
       
            <p><a class="btn btn-default " align="left" href="~/Home/Upload2">Upload &raquo;</a> </p>

        </div>
    </div>
</div>

